/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
footer,
section {
  height: 400px;
  width: auto;
}

body {
  background-color: #191919;
  font-size: 20px;
  font-family: 'Comfortaa', cursive;
}

.main-header {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: -10% 20%;
  padding: 0;
  z-index: 1;
  position: relative;
  height: 100vh; 
}
.main-header::before {
  content: '';
  position: absolute;
  left: 0;
  top: -105px;
  overflow: visible;
  width: 100%;
  height: 220px;
  background-color:white;
  z-index: 1;
  -webkit-transform: skewY(-4deg);
  -moz-transform: skewY(-4deg);
  -ms-transform: skewY(-4deg);
  -o-transform: skewY(-4deg);
  transform: skewY(-4deg);
}

.main-header .main-nav {
  text-align: right;
  padding-right: 40px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
}

.main-header .main-nav li {
  display: inline-block;
  margin-left: 20px;
  border-bottom-left-radius: .7em;
  border-bottom-right-radius: .7em;
  background: linear-gradient(hsla(0, 0%, 100%, .5), transparent)
}

.main-header li a {
  float: right;
  color: white;
  font-size: 20px;
  text-decoration: none;
  width: 120px;
  line-height: 60px;
  text-align: center;
  text-shadow: 0 -.04em .04em #335166;
}

.main-header .main-nav li:hover {
  transition: all .2s ease-in-out;
  padding-top: 10px;
  margin-top: -10px;
  margin-bottom: -10px;
  position: relative;
  z-index: 100;
}

.main-header .main-nav li:first-child {
  background-color: rgb(0, 25, 179);
}

.main-header .main-nav li:nth-child(2) {
  background-color: rgb(255, 191, 0);
}

.main-header .main-nav li:nth-child(3) {
  background-color: rgb(255, 32, 173);
}

.main-header .main-nav li:nth-child(4) {
  background-color: rgb(253, 134, 0);
}
.main-header h1 {
  font-family: 'Playball', cursive;
  font-size:90px;
  position:absolute;
  left:35px;
  top:35px;
  z-index: 1;
}
/*slider*/
.slider-nav {
  color:hotpink;
  font-size:30px;
  display:block;
  width:100%;
  height:5%;
  position:relative;
  bottom:0;
}
.left, .right {
  display:inline-block;
}
.right {
  float:right;
}
/*.slider-nav {
  color:hotpink;
  display: flex;
  width:100%;
  height:9%;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  align-self: flex-end;
  
}
.left {
  justify-content: flex-end;
  height:15px;
  width:15px;  
}
.right {
  justify-content: flex-start;
  height:15px;
  width:15px;  
}*/
.window {
  overflow:hidden;
  width:100%;
  height:95%;
  margin: 0 auto;
  display:block;
}
.slider {
  z-index:-2;
  margin:0 auto;
  width:auto;
}
.slider li {
  width:100vw;
  height:100vh;
  display:inline-block;
}
.background-slider {
display:inline-block;
  position:relative;
  left: 0;
  font-size:0;
  transition: all .5s ease-in-out;
}
.slider .photo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*--------------------*/
#about_me {
  height: 75vh;
  padding-top: 150px;
  z-index:-2;
  color:white;
}

#about_me::before {
  content: '';
  position: absolute;
  left: 0;
  top: 500px;
  overflow: visible;
  width: 100%;
  height: 1100px;
  z-index: -1;
  -webkit-transform: skewY(-6deg);
  -moz-transform: skewY(-6deg);
  -ms-transform: skewY(-6deg);
  -o-transform: skewY(-6deg);
  transform: skewY(-6deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: initial;
}


/*About me section*/

.me {
  background-color: hotpink;
  display: inline-block;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 3.5px black dashed;
  margin-left: 23%;
}

.description {
  display: inline-block;
  height: 300px;
  width: 400px;
  margin-left: 40px;
}


/*my resume*/

/*.cv {
  width: 300px;
  height: 400px;
  background-image: url(../images/my_cv_hover0.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  float: right;
  margin-right: 14%;
  margin-top: 13%;
}

.cv:hover {
  background-image: url(../images/my_cv_hover.jpg);
}

#my_resume {
  height: 100vh;
}

#my_resume p {
  display: inline-block;
  float: right;
  margin-right: 30px;
  width: 350px;
  margin-top: 14%;
  font-size: 50px;
  color: white;
}*/

#skills-section {
    width:600px;
    color:hotpink;
}
.section-header {
    
}

.skills p {
   color:black;
   text-transform: uppercase;
    font-size:35px;
    display:inline-block;
    margin:0 auto;
}
.skill {
    background-color:lightgray;
    width:400px;
    height:20px;
    margin:0 auto;
    clear:both;
  
}
#skills-section h4 {
    text-align:center;
    font-size:90px;
    margin:100px;
   
}
.skill span {
    background-color:#9f449b;
    display:block;    
    height:20px;   
}
.skill-1 span {
  width:360px;    
}
.skill-2 span {
  width:280px;  
}
.skill-3 span {
  width: 300px; 
}
.skill-4 span {
  width: 340px; 
}

.skillwrap {
 text-align:center;
 margin:0 auto;
 width:400px;
  padding:6px;
  margin-bottom:10px;

}
.skillwrap p:first-child {
  font-family:"lato";
  text-transform: uppercase;
    font-weight: bold;
    text-align:left;
    float: left;
    padding:10px;
}
.skillwrap p:nth-child(2) {
  text-align:right;
  float: right;
  padding: 10px;
}
@media (min-width:500px) and (orientation:landscape) {
  #skills-section {
    text-align:center;
  }
  .skillwrap {
  display:inline-block;
    width:230px;
    margin:10px 80px;
  }
  .skill {
    width:200px;
    height:10px;
}
  .skill span {
    background-color:#9f449b;
    display:block;    
    height:10px;   
}
  .skill-1 span {
  width:180px;    
}
.skill-2 span {
  width:140px;  
}
.skill-3 span {
  width: 150px; 
}
.skill-4 span {
  width: 170px; 
}
  
}

#my_work {
  height:1350px;
}
#my_work::before {
  content: '';
  position: absolute;
  left: 0;
  top: 1850px;
  overflow: visible;
  width: 100%;
  height: 950px;
  z-index: -1;
  background: white;
  background-image: url(../images/one.png);
  background-repeat: no-repeat;
  background-size: 250px;
  background-attachment: fixed;
  background-position: 100% 55%;
  padding: 0;
  -webkit-transform: skewY(15deg);
  -moz-transform: skewY(15deg);
  -ms-transform: skewY(15deg);
  -o-transform: skewY(15deg);
  transform: skewY(15deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: initial;
}

#my_work h2 {
  display: block;
  text-align: center;
  padding-top: 150px;
}
.wrapper {
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  display:flex;
  flex-wrap: wrap;
}
.wrapper .around, .wrapper a {
  width:25%;
  align-content: space-around;
}
[class*="web"] {
  height: 270px;
  flex-direction: row;
  margin: 0;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.sitonchair {
  background-image: url(../images/sitonchair.png);
}

.bhagaskara {
  background-image: url(../images/bhagaskara.png);
}

.htmlemail {
  background-image: url(../images/email.png);
}

.shoppinglist {
  background-image: url(../images/shopping.png);
}
.sitonchair:hover {
  background-position: center;
}
.bhagaskara:hover {
  background-position:center;
}

.htmlemail:hover {
  background-position: center;
}

.shoppinglist:hover {
  background-position: center;
}

[class^="info"] {
  font-family: "Comic Sans MS", cursive;
  color: #fff;
  background-color: #000;
  border: 2px solid #fff;
  padding: 20px;
  border-radius: 20px;
  width: 100px;
  height: auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}
.info-next {
  box-shadow: -5px 5px 5px rgba(0, 0, 0, .5);
}
.info-prev:after {
  content: "";
  display: block;
  background-color: #000;
  border: 2px solid #fff;
  border-width: 0 2px 2px 0;
  width: 24px;
  height: 24px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .5);
  position: relative;
  right:-108px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
.info-next:after {
  content: "";
  display: block;
  background-color: #000;
  border: 2px solid #fff;
  border-width: 0 2px 2px 0;
  width: 24px;
  height: 24px;
  box-shadow: 5px 0 5px rgba(0, 0, 0, .5);
  position: relative;
  left:-34px;
  -webkit-transform: rotate(-225deg);
  -moz-transform: rotate(-225deg);
  -ms-transform: rotate(-225deg);
  -o-transform: rotate(-225deg);
}
.wrapper .around [class^="info"] {
  display:none;
}
.around {
  display:flex;
  justify-content: center;
}
.info-prev, .info-next {
  align-self: center;
}